.text-image{	
	display: flex;
	justify-content: space-between;
	align-items: center;
	&__left{
		width: 50%;
		flex-shrink: 0;
		margin-right: toRem(80);
	}
}
@include tablet-sm{
	.text-image{
		display: block;
		&__left{
			width: 100%;
			margin-right: 0;
		}
		&__right{
			width: calc(100% + 2rem);
			margin-left: -1rem;
		}
	}
}