.rich-text-layout{
	@include tablet-sm{
		padding-left: 1rem;
		padding-right: 1rem;
	}
	h1,h2,h3,h4,h5,h6, blockquote{
		font-family: $font-marya;
		font-size: toRem(36);
		font-weight: normal;
		line-height: 1.11;
		letter-spacing: normal;
		margin-top: toRem(32);
		margin-bottom: toRem(16);
		&:first-child{
			margin-top: 0;
		}
	}
	p{
		font-size: toRem(18);
		font-weight: normal;
		line-height: 1.78;
		color: rgba($color: $dark, $alpha: $opacity-08);
		margin: toRem(16) 0;
	}
	blockquote{
		color: $red;
		padding: toRem(24) toRem(32);
		background: rgba($color: $dark, $alpha: $opacity-008);
	}
	img{
		object-fit: cover;
		display: block;
		margin: toRem(32) 0;
		@include tablet-sm{
			max-width: unset;
			width: calc(100% + 2rem);
			margin: toRem(32) -1rem;
		}
	}
	ul, ol{
		margin: toRem(16) 0 toRem(24);
		font-size: toRem(18);
		font-weight: normal;
		line-height: 1.78;
		color: rgba($color: $dark, $alpha: $opacity-08);
	}
	ul li{
		padding-left: toRem(24);
		position: relative;
	}

	ul li::before{
		content: '';
		position: absolute;
		top: toRem(10);
		left: 0;
		width: toRem(8);
		height: toRem(8);
		background: $red;
		transform: rotate(45deg);
	}
	
	ul li + li, 	ol li + li{
		margin-top: toRem(16);
	}
	ol{
		padding-left: toRem(24);
		list-style-type: decimal;
	}
	ol li{
		padding-left: toRem(6);
	}
}