.two-profiles{
	&__inner{
		display: flex;
		justify-content: center;
	}
	&__inner > * + *{
		margin-left: 1rem;
	}
}

@include tablet-sm{
	.two-profiles{
		&__inner{
			display: block;
		}
		&__inner > * + *{
			margin-left: 0;
		}
	}
}