<aside class="related">
	<h3 class="h3 color-red mb-6">Related news & insights</h3>
	{% include "templates/article.njk" %}
	{% include "templates/article.njk" %}
	{% include "templates/article.njk" %}
	{% include "templates/article.njk" %}
	<h3 class="h3 color-red mt-10 mb-6">Related services</h3>
	{% include "templates/square-card.njk" %}
	{% include "templates/square-card.njk" %}
	{% include "templates/square-card.njk" %}

</aside>