<aside class="related">
	<h3 class="h3 color-red mb-6">Related news & insights</h3>
	{% include "templates/article.njk" %}
	{% include "templates/article.njk" %}
	{% include "templates/article.njk" %}
	{% include "templates/article.njk" %}
	{% include "templates/article.njk" %}
	{% include "templates/article.njk" %}

</aside>