<article class="article-wrapper">
	<a class="article" href="#">
		<h3 class="text-body-bold opacity-80 hover:opacity-100 transition mb-4">
			A Fool-Proof Formula for Easy Constitution Easter Europe
		</h3>
		<img class="article__image" src="https://via.placeholder.com/310x206/333?text=Article image" alt="">
	</a>
</article>