<section clsas="homepage__articles">
	<h1 class="h1 mb-6">Latest news & insights</h1>
	<div class="flex justify-between mb-12">
		{% include "templates/article.njk" %}
		{% include "templates/article.njk" %}
		{% include "templates/article.njk" %}
	</div>
	<a href="#" class="btn btn--red">See all insights</a>
</section>