<article class="article-wrapper">
	<div class="article" href="#">
		<a href="#"><h3 class="text-body-bold opacity-80 hover:opacity-100 transition mb-4">
			A Fool-Proof Formula for Easy Constitution Easter Europe
		</h3>
		</a>
		<a href="#"><img class="article__image" src="https://via.placeholder.com/310x206/333?text=Article image" alt=""></a>
		<a href="#"><p class="text-body-smaller mt-4"> Vivamus luctus egestas leo. Integer tempor. Fusce aliquam vestibulum ipsum. Phasellus faucibus molestie nisl. Duis viverra diam non justo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p></a>
	</div>
</article>