<section class="text-video">
	<h1 class="h1 mb-6">Our story</h1>
	<div class="text-video__inner">
		<div class="text-video__left">
			<p class="text-body mb-12">
				Lomond is a Corporate Communications and Public Affairs consultancy based in Central & Eastern Europe. It has been established to meet the growing demand for the most senior-level support on a day-to-day basis – for consultants who combine the highest Western European standards with a deep understanding of CEE, who draw on the full suite of communications services to solve problems, and who offer genuine business value.
			</p>
			<a href="#" class="btn btn--red"> 
				 Meet our team
			</a>
		</div>	
		<div class="text-video__right">
			<video>
				<source src="/assets/videos/test-video.mp4" type="video/mp4">
					Your browser does not support the video tag.
			</video>
		</div>
	</div>
</section>