<div class="text-image">
	<div class="text-image__left">
		<h1 class="h1">Ethics</h1>
		<div class="text-body mt-6 mb-12">
			<p>We abide by the most robust international codes of conduct which commit us to the <b> highest ethical and professional standards</b> in our dealings with government, other policy-makers, the stakeholder community and the media – as well as, of course, with clients.
			</p>
			<p>
				<strong>We guard our own reputation as zealously as we do our clients’</strong>
			</p>
		</div>
		<div class="flex md:block justify-center mb-10 md:mb-0">
			<a href="#" class="btn btn--red">What we do</a>
		</div>
	</div>
	<div class="text-image__right">
		<img src="https://via.placeholder.com/415x620/333?text=image" alt="">
	</div>
</div>