<!DOCTYPE html>
<html lang="en">
{% include "templates/head/head.njk" %}
<body id="{{ bodyID }}">
{% include "templates/menu.njk" %}
    {% block body %}
    
    {% endblock %}
{% include "templates/footer.njk" %}
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.4.0/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.4.0/ScrollTrigger.min.js"></script>
<script src="https://unpkg.com/smooth-scrollbar@latest/dist/smooth-scrollbar.js"></script>
{% block scripts %}
{{ScriptTags.addSrc('widgets/menu/menu.js')}}
{{ScriptTags.toHTML() | safe}}
{% endblock %}
</html>