<footer class="footer-wrapper">
	<div class="footer">
		<img 
			srcset="assets/images/backgrounds/map@1x.png 1440w, assets/images/backgrounds/map@2x.png 2880w"
			class="footer__bg" 
			src="assets/images/backgrounds/map@1x.png" 
			alt=""
		>
		<div class="container max-w-5xl mx-auto footer__inner">
			<h1 class="h1 mb-6">
					Contact Lomond
			</h1>
			<div class="footer__blocks-wrapper mb-12">
				<div class="footer__block">
					<h2 class="text-body-bold color-red mb-3">
						Poland
					</h2>
					<p class="text-body-smaller mb-4">
						Marszalkowska Centre 126/134 <br>
						Warsaw 00-008 <br>
						Poland
					</p>
					<div class="footer__block__contacts text-body-smaller">
						<a href="mailto:mail@example.com" class="block">warsaw@lomond-cee.com</a>
						<a href="tel:420776077103" class="block">+458 123 456 789</a>
					</div>
				</div>
				<div class="footer__block">
					<h2 class="text-body-bold color-red mb-3">
						Czech republic
					</h2>
					<p class="text-body-smaller mb-4">
						Marszalkowska Centre 126/134 <br>
						Warsaw 00-008 <br>
						Czech republic
					</p>
					<div class="footer__block__contacts text-body-smaller">
						<a href="mailto:mail@example.com" class="block">warsaw@lomond-cee.com</a>
						<a href="tel:420776077103" class="block">+458 123 456 789</a>
					</div>
				</div>
				<div class="footer__block">
					<h2 class="text-body-bold color-red mb-3">
						Slovakia
					</h2>
					<p class="text-body-smaller mb-4">
						Marszalkowska Centre 126/134 <br>
						Warsaw 00-008 <br>
						Slovakia
					</p>
					<div class="footer__block__contacts text-body-smaller">
						<a href="mailto:mail@example.com" class="block">warsaw@lomond-cee.com</a>
						<a href="tel:420776077103" class="block">+458 123 456 789</a>
					</div>
				</div>
				<div class="footer__block">
					<h2 class="text-body-bold color-red mb-3">
						Hungary
					</h2>
					<p class="text-body-smaller mb-4">
						Marszalkowska Centre 126/134 <br>
						Warsaw 00-008 <br>
						Hungary
					</p>
					<div class="footer__block__contacts text-body-smaller">
						<a href="mailto:mail@example.com" class="block">warsaw@lomond-cee.com</a>
						<a href="tel:420776077103" class="block">+458 123 456 789</a>
					</div>
				</div>
			</div>
			<div class="flex justify-center">
					<a href="#" class="btn btn--red btn--icon-left"><img src="assets/images/icons/linkedin-icon.svg" alt=""> Follow Lomond on LinkedIn</a>
			</div>
		</div>
	</div>
	<div class="footer__copy">
		<p class="text-body-smaller">
			Copyright &copy; Lomond CEE, 2020 – All rights reserved
		</p>
	</div>
</footer>