<a href="#" class="profile-card">
	<div class="profile-card__ratio">
		<div class="profile-card__inner">
			<img src="https://picsum.photos/seed/picsum/360/450.webp" alt="" class="profile-card__image">
			<span class="profile-card__link-name"> 
				Some Name <!-- hidden from view, but needed  for better accessibility -->
			</span>
			<div class="profile-card__video-layer">
				<video autoplay loop muted="muted">
					<source src="/assets/videos/test-video.mp4" type="video/mp4">
						Your browser does not support the video tag.
				</video>
			</div>
			<div class="profile-card__overlay"></div>
			<div class="profile-card__content">
				<h3 class="h3 text-center">Firstname Lastname</h3>
				<p class="text-body-bold text-center mb-8">Founding Partner</p>
				<div class="flex justify-center">
					<div class="btn btn--outline btn--arrow">See full bio</div>
				</div>
			</div>
		</div>
	</div>
  
</a>