<section class="reveal-gallery">
	<div class="rg__column" data-color="#a6b3b3">
		<div class="rg__column__overlay"></div>
		<div class="rg__text">
				<div class="rg__text--heading">
						<h4 class="h4 text-center uppercase">Piblic</h4>
						<p class="subtitle-caps text-center">affairs</p>
				</div>
				<div class="rg__text--copy">
						<div class="rg__text--mask">
							<a href="#" class="btn btn--outline btn--arrow no-transition">Learn more</a>
						</div>
				</div>
		</div>
		<div class="rg__image">
				<div class="rg__image--mask">
					<img src="https://picsum.photos/seed/picsum/450/800.webp" />
				</div>
		</div>
	</div>
	<div class="rg__column" data-color="#b0a7a4">
		<div class="rg__column__overlay"></div>
		<div class="rg__text">
			<div class="rg__text--heading">
				<h4 class="h4 text-center uppercase">Corporate</h4>
					<p class="subtitle-caps text-center">Communications</p>
			</div>
			<div class="rg__text--copy">
					<div class="rg__text--mask">
						<a href="#" class="btn btn--outline btn--arrow no-transition">Learn more</a>
					</div>
			</div>
		</div>
		<div class="rg__image">
				<div class="rg__image--mask">
					<img src="https://picsum.photos/seed/picsum/450/800.webp" />
				</div>
		</div>
	</div>
	<div class="rg__column" data-color="#a3abb1">
		<div class="rg__column__overlay"></div>
		<div class="rg__text">
				<div class="rg__text--heading">
					<h4 class="h4 text-center uppercase">Crisis</h4>
					<p class="subtitle-caps text-center">management</p>
				</div>
				<div class="rg__text--copy">
					<div class="rg__text--mask">
						<a href="#" class="btn btn--outline btn--arrow no-transition">Learn more</a>
					</div>
				</div>
		</div>
			<div class="rg__image">
					<div class="rg__image--mask">
						<img src="https://picsum.photos/seed/picsum/450/800.webp" />
					</div>
			</div>
	</div>
	<div class="rg__column" data-color="#a3abb1">
		<div class="rg__column__overlay"></div>
		<div class="rg__text">
				<div class="rg__text--heading">
					<h4 class="h4 text-center uppercase">Traning</h4>
					<p class="subtitle-caps text-center">workshop</p>
				</div>
				<div class="rg__text--copy">
					<div class="rg__text--mask">
						<a href="#" class="btn btn--outline btn--arrow no-transition">Learn more</a>
					</div>
				</div>
		</div>
		<div class="rg__image">
			<div class="rg__image--mask">
				<img src="https://picsum.photos/seed/picsum/450/800.webp" />
			</div>
		</div>
	</div>
<!-- fill background between sections with margin - eg. portfolio  -->
{# <aside class="fill-background" style="background-color: #ACB7AE"></aside> #}
</section>
 