<div class="rich-text-layout">
	<p>Our monitoring and intelligence-gathering role for clients is not just defensive, aimed at protecting their operating environment by spotting emerging threats early enough that they can be mitigated. It is also about identifying opportunities to shape the policy environment in ways that can help deliver business growth. 
	</p>
	<h2>Why Your ICE Train Germany Approval is Missing the Mark (And How You Can Fix It)</h2>
	<p>This service takes different forms for different clients, from one-off audits which incorporate stakeholder perceptions surveys and mapping, to providing ‘eyes and ears’ in priority countries through r <b>egular monitoring reports.</b> 
	Curabitur vulputate commodo ligula eget consectetur. Aenean sagittis lacus libero, sit amet vestibulum sem lobortis id. Mauris facilisis quis mauris vitae vulputate. Etiam sed luctus elit.
	Integer vel sem nec mi hendrerit fermentum ac in purus. Donec eros lorem, maximus id posuere mollis, malesuada a diam.
	</p>
	<blockquote>
		„This is a quote inside the article flow…. Mauris facilisis quis mauris vitae vulputate.“
	</blockquote>
	<h2>Key requirements</h2>
	<ul>		
		<li>
			You have rapidly scaled and managed social communities of&nbsp;>100,000 members without many resources and across multiple channels.
		</li>
		<li>
			Deep understanding and empathy for developers and the blockchain space
		</li>
		<li>
			You have worked in startup-like environments before.
		</li>
	</ul>
	<p>This service takes different forms for different clients, from one-off audits which incorporate stakeholder perceptions surveys and mapping, to providing ‘eyes and ears’ in priority countries through regular monitoring reports. 
	Curabitur vulputate commodo ligula eget consectetur. Aenean sagittis lacus libero, sit amet vestibulum sem lobortis id. Mauris facilisis quis mauris vitae vulputate. Etiam sed luctus elit.
	Integer vel sem nec mi hendrerit fermentum ac in purus. Donec eros lorem, maximus id posuere mollis, malesuada a diam.
	</p>
	<ul>		
		<li>
			Deep understanding and empathy for developers and the blockchain space
		</li>
		<li>
			You have worked in startup-like environments before.
		</li>
	</ul>
	<img src="https://via.placeholder.com/480x360/333?" alt="">
	<p>This service takes different forms for different clients, from one-off audits which incorporate stakeholder perceptions surveys and mapping, to providing ‘eyes and ears’ in priority countries through regular monitoring reports. 
	Curabitur vulputate commodo ligula eget consectetur. Aenean sagittis lacus libero, sit amet vestibulum sem lobortis id. Mauris facilisis quis mauris vitae vulputate. Etiam sed luctus elit.
	</p>
	<ol>	
		<li>
			You have rapidly scaled and managed social communities of&nbsp;>100,000 members without many resources and across multiple channels.
		</li>	
		<li>
			Deep understanding and empathy for developers and the blockchain space
		</li>
		<li>
			You have worked in startup-like environments before.
		</li>
	</ol>
	<p>This service takes different forms for different clients, from one-off audits which incorporate stakeholder perceptions surveys and mapping, to providing ‘eyes and ears’ in priority countries through regular monitoring reports. 
	Curabitur vulputate commodo ligula eget consectetur. Aenean sagittis lacus libero, sit amet vestibulum sem lobortis id. Mauris facilisis quis mauris vitae vulputate. Etiam sed luctus elit.
	</p>
</div>  