<div href="#" class="square-card">
	<div class="square-card__ratio">
		<a href="#" class="h3 text-white square-card__title">Advocacy: shaping policy-making</a>
		<a href="#" class="square-card__inner">
			<span class="only-seo">some link name</span>
			<img class="square-card__img" src="https://picsum.photos/seed/picsum/360/360.webp" alt="">
		</a>
		<div class="square-card__overlay">
			<a href="#" class="btn btn--outline btn--arrow">See more</a>
		</div>
	</div>
</div>	