<section class="two-profiles pt-10 pb-6 md:pt-16 md:pb-12">
	<h1 class="h1 text-center">
		Meet our partners
	</h1>
	<p class="text-center text-body mt-6 max-w-lg	mx-auto mb-8">
		Lomond's founding partners are both former senior directors in the leading Corporate Relations agency in CEE.
	</p>
	<div class="two-profiles__inner">
		<div class="w-360">
			{% include 'templates/profile-card.njk' %}
		</div>
		<div class="w-360">
			{% include 'templates/profile-card.njk' %}
		</div>
	</div>
</section>