<header>
	<div class="header-small">
		<div class="header-small__images">
			<img src="https://via.placeholder.com/1200x800/333?text=`" alt="">
		</div>
		<div class="header-small__content">
			<h1 class="header-small__title">Work for us</h1>
		</div>
	</div>
</header>