body{
	width: 100vw;
	overflow-x: hidden;
	font-family: 'FaktPro' , sans-serif;
  font-size: 18px;
  font-weight: normal;
  color: $dark;
}
main{
	overflow-x: hidden;
}
#viewport{
	position: fixed;
	overflow: hidden;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	@include tablet-sm{
		position: static;
		overflow-y: auto;
		height: auto;
	}
}
.diamond-icon{
	display: inline-block;
	width: 6px;
  height: 6px;
  opacity: 0.9;
  background-color: #e9483f;
	transform: rotate(45deg);
}
.gray-bg{
	background: rgba($color: $dark, $alpha: $opacity-008);
}

.only-seo{
	display: inline-block;
	opacity: 0;
	width: 0;
	height: 0;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

.w-360{
	width: toRem(360);
	@include tablet-sm{
		width:100%;
	}
}
.container{
	padding-left: 1rem;
	padding-right: 1rem;
}

.small-screens-only{
	@include tablet-sm-up{
		display: none !important;
	}
}

.bigger-screens-only{
	@include tablet-sm{
		display: none !important;
	}
}

.text-center.text-body{
	@include tablet-sm{
		padding-left: 1rem;
		padding-right: 1rem;
	}
}
.header-small{
	@include tablet-sm{
		min-height: 45vh !important;
	}
}