$font-fakt: 'FaktPro', sans-serif;
$font-fakt-blond: 'FaktPro Blond', sans-serif;
$font-marya: 'Marya Roman', sans-serif;

$white:#fff;
$dark:#161616;
$red: #e9483f;


$opacity-095: 0.95;
$opacity-09: 0.9;
$opacity-09: 0.9;
$opacity-08: 0.8;
$opacity-008: 0.08;

