<header>
	<div class="header-slideshow">
		<div class="header-slideshow__images">
			<img src="https://via.placeholder.com/1200x800/333?text=`" alt="">
		</div>
		<div class="header-slideshow__content">
			<h1 class="header-slideshow__title">Our team</h1>
		</div>
		<div class="header-slideshow__bottom">
			<div class="mb-3">See our story</div>
			<img src="/assets/images/icons/chevron-down-48-icon.svg" alt="">
		</div>
	</div>
</header>