.news-detail{
	&__wrapper{
		display: flex;
		justify-content: space-between;
	}
	&__left{
		width: 50%;
		flex-shrink: 0;
	}
	&__right{
		width: 36%;
		flex-shrink: 0;
		justify-self: flex-start;
		.article-wrapper+.article-wrapper{
			margin-top: toRem(24);
		}
		.square-card{
			max-width: 310px;
		}
		.square-card + .square-card{
			margin-top: toRem(24);
		}
	}
}